<div>
  <h1>{{ section.settings.collectionName }}</h1>
  {% for block in section.blocks %}
  <p>{{ block.settings.collection }}</p>
    <img src="{{ block.settings.collection_list | asset_url}}" height=10 width=10>
    {% endfor %}
</div>

{% schema %}
  {    
    "name": "Custom Collection Grid 1",
    "settings": [
      {
        "type": "text",
        "label":"Collection Name",
        "id": "collectionName"
      }
    ],
    "blocks": [
      {
        "name":"collection",
        "type": "collection",
        "settings": [
          {
            "type": "collection",
            "label": "Collection",
            "id": "collection"
          },
          {
  "type": "collection_list",
  "id": "collection_list",
  "label": "Collections",
  "limit": 8
}
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Collection Grid 1"
      }
    ]
  }
{% endschema %}